.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 80px;
  width: 100vw;
  background-color: var(--secondary-color);
}

.logo {
  margin-left: 80px;
}

.navList {
  display: flex;
  margin-right: 100px;
  gap: 30px;
  font-size: 20px;
}