@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
  --primary-color: #1c1c1e; /* Preto suave / fundo principal */
  --secondary-color: #2c2c2e; /* Cinza escuro para elementos secundários */
  --background-color: #f9f9f9; /* Quase branco, ideal para fundo geral */
  --text-color: white; /* Quase preto, ótimo para legibilidade */
  --border-color: #d1d1d6; /* Cinza claro para bordas e divisores */
  --muted-text-color: #6e6e73; /* Cinza médio para textos menos importantes */
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--text-color);
}

ul, ol {
  list-style: none;
}

a {
  text-decoration: none;
  color: var(--text-color);
}
